html {
  background-color: #fff;
  margin: 10px 100px;
  padding: 10px 100px 100px;
}

body {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 auto;
  border-radius: 50px;
  border: 3px solid #fff;
  background-color: #faaca8;
  background-image: linear-gradient(19deg, #faaca8 0%, #ddd6f3 100%);
  background-repeat: no-repeat;
}

.container-search {
  margin: 20px;
  text-align: center;
  max-width: 700px;
  font-family: "Courier New", Courier, monospace;
}

input .placeholder {
  text-align: center;
}

.searchInput {
  text-align: center;
}

.location {
  background-color: transparent;
  font-family: "Courier New", Courier, monospace;
  border: 0px solid black;
  border-radius: 5px;
}

input {
  color: #000;
  background-color: transparent;
  border-radius: 30px;
  border: 1px solid black;
}

.city {
  font-size: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  margin-left: 40px;
  margin-top: 40px;
  line-height: 90px;
  text-transform: capitalize;
}

.currentDay,
.currentTime {
  font-style: italic;
  text-align: left;
  margin-left: 50px;
  font-size: 20px;
}

.currentEmoji img {
  width: auto;
  float: left;
  margin-left: 30px;
  margin-top: 50px;
}

.dayTemp {
  display: inline;
  font-size: 100px;
  line-height: 180px;
}

.celsius-fahrenheit {
  font-size: 16px;
  float: right;
  margin-right: 420px;
  margin-top: 60px;
  text-decoration: none;
}

.celsius-fahrenheit .active {
  color: black;
  cursor: default;
  text-decoration: none;
  font-weight: bold;
}

.celsius-fahrenheit .active:hover {
  text-decoration: none;
}

.forecast {
  margin-left: 350px;
  display: block;
  line-height: 20px;
}

.humidity,
.precipitation,
.feelsLike,
.feelsType,
.humidPercent,
.wind,
.windSpeed {
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.sky {
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  text-transform: capitalize;
}

#forecast {
  position: relative;
  bottom: 40px;
  padding: 10px auto;
  right: 38px;
  background-color: RGBA(189, 48, 80, 0.14);
  border-radius: 10px;
  text-align: center;
  margin-left: 80px;
}

.days {
  padding: 20px 10px;
  margin: 0 3px;
}

.weekday {
  font-size: 15px;
}
.week-day-image {
  font-size: 15px;
  max-width: 1024px;
}

.forecast-temps {
  font-size: 12px;
  line-height: 15px;
  display: inline;
}
.maxtemp {
  font-weight: bold;
}

.codedBy {
  display: inline;
  font-style: italic;
  position: relative;
  left: 30px;
  top: 20px;
}

.hostedLink {
  position: relative;
  left: 200px;
  display: inline;
  top: 20px;
}
